#logincss{
	margin-top:				25%;
}

.fullsize{
	width:					100%;
}

a{
	text-decoration:		none;
	color:					rgb(0,0,0);
}

a:hover{
	text-decoration:		none;
	color:					rgb(0,0,0);
}

.dr_b{
	background-color:		rgb(0,225,255);
}

#page{
	margin-top:				100px;
}